._1myva{background-color:#666;color:#fff}._2GJKw{max-height:20rem;overflow:hidden;vertical-align:middle}@media (min-width: 769px){._2GJKw img{margin-top:-25rem}}._3rcv_{position:relative;padding-bottom:56.25%;height:0}._3rcv_ iframe{position:absolute;top:0;left:0;width:100%;height:100%}

