.gray {
  background-color: #666;
  color: #fff
}

.banner {
  max-height: 20rem;
  overflow: hidden;
  vertical-align: middle;

  // Bigger than tablet screen
  @media (min-width: 769px) {
    img {
      margin-top: -25rem;
    }
  }
}

.mapwrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.scrollweather {
  // Smaller than tablet screen
  @media (max-width: 769px) {
    overflow: scroll;
    margin-top: 1rem;
  }
}

.mainmeteopic {
  margin-top: 25%;
}
