[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
functions-framework = "*"

[packages]
fastapi = "*"
agraffe = "*"
firebase-admin = "*"
uvicorn = "*"
requests = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "uvicorn app:app --host=0.0.0.0 --port 3000 --reload"
prod = "uvicorn app:app --host=0.0.0.0"
